*{
	font-family: 'Work Sans', sans-serif;;
}

html{
	scroll-behavior: smooth;
}

*{
	cursor: none;
}

.inner-cursor{
	position: fixed;
	left: 10px;
	z-index: 1000;
	width: 10px;
	height: 10px;
	transform: translate(-50%,-50%);
	background: #fff;
	mix-blend-mode: difference;
	border-radius: 50%;
	pointer-events: none;
	transition: width .5s, height .5s;
	text-align: center;
	font-size: xx-small;
}

.inner-cursor.grow{
	width: 25px;
	height: 25px;
	transition: width .5s, height .5s;
}

.inner-cursor.grow1{
	width: 50px;
	height: 50px;
	line-height: 50px;
	mix-blend-mode: normal;
	background: #fff9;
	transition: width .5s, height .5s, mix-blend-mode .5s, background .5s;
}

.inner-cursor.grow2{
	background: #fff;
}

.outer-cursor.grow2{
	opacity: 0;
}

.outer-cursor{
	position: fixed;
	left: 10px;
	z-index: 1000;
	width: 25px;
	height: 25px;
	border: 1.5px solid #fff;
	transform: translate(-50%,-50%);
	mix-blend-mode: difference;
	border-radius: 50%;
	pointer-events: none;
	transition: .1s;
}

.outer-cursor.grow2{
	opacity: 0;
}

.hide-cursor{
	opacity: 0;
}

#fp-nav ul li a span{
	background: #273437;
}

#fp-nav ul li .fp-tooltip{
	color: #273437;
}

#nav li.active{
	border-left: 1.5px solid #273437;
}

#nav li.active >a{
	color: #273437;
}

.logo{
	position: fixed;
	top: 25px;
	left: 25px;
	z-index: 10;
	color: #273437;
	font-size: xx-large;
	transition: .5s;
}

.logo:hover{
	transform: rotate(45deg);
}

#nav-options{
	height: 100vh;
	position: absolute;
	right: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 35px;
	z-index: 10;
}

.nav-option{
	list-style: none;
}

.nav-option > a{
	color: #27343799;
	text-decoration: none;
	writing-mode: tb-rl;
	transition: .2s;
	font-family: 'Source Serif Pro', serif;
	font-weight: 300;
	letter-spacing: 1.5px;
}

.nav-option>a:hover{
	color: #273437;
}

.section{
	text-align: center;
}

.introduccion-contenedor{
	display: grid;
	grid-template-columns: 50vw 50vw;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.info-introduccion{
	margin-left: 110px;
	display: flex;
	flex-direction: column;
	gap: 5px;
	color: #eeecea;
}

.info-introduccion > h1{
	width: 18ch;
	white-space: nowrap;
	text-align: left;
	font-family: 'Source Serif Pro', serif;
	font-weight: 100;
	border-right: 3px solid;
	background: #000;
	color: #eeecea;
	animation: escribir 2.5s steps(17), titileo .5s infinite step-end alternate;
	overflow: hidden;
}

@keyframes escribir{
	from{
		width: 0;
	}
}

@keyframes titileo{
	50%{
		border-color: transparent;
	}
}

.info-introduccion > p {
	text-align: left;
	font-size: small;
	color: #eeecea99;
}

.video-introduccion_contenedor{
	width: 38vw;
	height: 38vw;
}

.video-introduccion_contenedor > img{
	object-fit: cover;
	width: inherit;
	height: inherit;
	padding: 20px;
}

.slide{
	text-align: center;
}

.s-galeria,
.s-mural_3{
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 40px;
}

.galeria-img_container{
	width: 30vw;
	height: 30vh;
	transform: translateY(-37%);
}

.galeria-img_container img{
	padding: 20px;
	border: 1.5px solid #111;
	border-radius: 50% 50% 44% 56% / 50% 50% 0% 0%;
}

.galeria-info,
.enseñanza-info{
	text-align: left;
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 50vw;
}

.galeria-info > h2,
.enseñanza-info > h2,
.mural-info > h2{
	font-family: 'Source Serif Pro', serif;
	font-weight: 400;
	letter-spacing: 6px;
}

.galeria-info > p,
.enseñanza-info > p,
.mural-info > p{
	color: #1119;
	column-count: 2;
	column-rule: 1.2px dashed #111;
}

.s-galeria_2{
	height: 100vh;
	width: 100vw;
	background: url(../bg/galeria-idea.jpg);
	background-color: #eeecea;
	background-blend-mode: screen;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: flex;
}

.info-2{
	margin: auto;
}

.s-galeria_3{
	display: grid;
	grid-template-columns: 50% 50%;
	gap: 8%;
	padding: 10%;
}

.info-3{
	width: initial;
}

.item-c{
	margin: 10px;
}

.Enseñanza{
	color: #eeecea;
}

.s-enseñanza_1{
	display: grid;
	grid-template-columns: 50% 50%;
	justify-content: center;
	align-items: center;
	padding: 0;
	padding-right: 30%;
	height: 100vh;
}

.autoplay-2{
	width: 230px;
	height: 280px;
	align-self: start;
	justify-self: center;
}

.enseñanza-info > h2{
	color: #eeecea;
	font-family: 'Source Serif Pro', serif;
	font-weight: 300;
	letter-spacing: 1.5px;
}

.enseñanza-info > p{
	color: #eeecea99;
	column-rule-color: #eeecea;
}


#fullpage > section.section.Enseñanza.fp-section.active.fp-completely > div.fp-slidesNav.fp-bottom > ul > li > a > span{
	background: #eeecea;
}

.s-enseñanza_2{
	width: 100%;
	height: 100%;
	display: flex;
	background: url(../bg/enseñanza-fondo.jpg);
	background-color: #0009;
	background-blend-mode: overlay;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.enseñanza-info_2{
	margin: auto;
}

.s-enseñanza_3{
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	justify-content: center;
}

.enseñanza-info_3{
	padding-right: 15%;
}

.enseñanza-img_container{
	width: 20vw;
	height: 20vh;
	align-self: center;
	justify-self: center;
	transform: translateY(-100%);
}

.enseñanza-img_container img{
	padding: 20px;
	border: 1.5px solid #eeecea;
	border-radius: 50% 50% 44% 56% / 50% 50% 0% 0%;
}

.s-mural_1{
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: center;
	align-items: center;
	padding: 10%;
	background: url(../murales-imagenes/m-2.jpg);
	background-color: #eeecea;
	background-blend-mode: overlay;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.mural-info{
	text-align: left;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.mural-info_1 > p{
	color: #222;
}

.s-mural_2{
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 50% 50%;
	justify-content: center;
	align-items: center;
	gap: 8%;
	padding: 10%;
}

.autoplay-3{
	justify-self: center;
	width: 40vw;
}

.mural-info_3{
	width: 50vw;
}

.mural-img_container{
	width: 30vw;
	height: 30vh;
	transform: translateY(-36%);
}

.mural-img_container img{
	padding: 20px;
	border: 1.5px solid #111;
	border-radius: 50% 50% 44% 56% / 50% 50% 0% 0%;
}

@media only screen and (max-width : 500px){
	.inner-cursor,
	.outer-cursor{
		display: none;
	}
	body{
		cursor: auto;
	}
	.video-introduccion_contenedor{
		display: none;
	}
	.enseñanza-info > p,
	.mural-info > p,
	.galeria-info > p{
		column-count: 1;
	}
	.s-mural_1{
		grid-template-columns: 1fr;
	}
}